<%- include("partials/header.ejs", {heading: "Edit Post", css: "/newpost.css"});%>
<body>
    <div>
        <div class="menu">
            <button onclick="location.href = '/'" title="Home">
                <span class="material-symbols-outlined">home</span>
            </button>
            <button onclick="empty()" title="Clear">
                <span class="material-symbols-outlined">backspace</span>
            </button>
        </div>
        <form id="editpostForm">
            <input type="text" id="title" name="title" required placeholder="Title" autofocus value='<%=blog.title%>'>
            <textarea id="content" name="content" required placeholder="Start Typing Here" rows="20"><%=blog.content%></textarea>
            <button type="submit" id="submit-btn">SAVE</button>
        </form>
    </div>

    <script>
        const postId = Number('<%=id%>');

        function empty() {
            document.querySelector("input").value = '';
            document.querySelector("textarea").value = '';
            document.querySelector("input").focus();
        }

        document.getElementById("editpostForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());


            try {
                const response = await fetch(`/editpost/${postId}`, {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    alert("Updated Successfully");
                    location.href = '/';
                } 

            } catch(error) {
                alert("Unable to Update");
            }
            
        });


    </script>
</body>